$navbarItemColor:#aaaaab;
$myColor:#56597A;
$myPink:#F78CB6;
$textColor:#919299;
.header{
  background-image: url("../images1/Vector (5).png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 52%;
  position: relative;
  padding-bottom: 150px;
  .positionImg{
    position: absolute;
    left:0;
    z-index: 10;
    bottom: -130px;
    width: 160px;
    height: 376px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .container{
    .row:first-child{
      .col-md-12{
        padding: 0;
        .navbar{
          padding: 35px 0 !important;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .navbar-nav{
            margin-left: 38%;
            .nav-item{
              .nav-link{
                color: $navbarItemColor;
                margin: 0 30px;
                font-weight: 500;
                font-size: 18px;
              }
            }
            .nav-item:first-child{
              .nav-link{
                color: $myColor;
              }
            }
          }
          .nav-icon{

          }
        }
      }
    }
    .row:nth-child(2){
      padding-top: 65px;
      .col-md-6:first-child{
        .creative{
          display: flex;
          margin-bottom: 34px;
          .line{
            width: 33px;
            height: 3.4px;
            background-color: $myPink;
            margin-top: 28px;
            box-sizing: border-box;
            margin-right: 4px;
          }
          .creativeText{
            font-size: 30px;
            color: $myPink;
            font-weight: 500;
          }
        }
        h1{
          font-family: myFont  sans-serif;
          font-weight: 700;
          color: $myColor;
          margin-bottom: 37px;
          font-size: 47px;
          letter-spacing: 2px;
          word-spacing: 7px;
        }
        p{
          color:$textColor;
          letter-spacing: 1.2px;
          margin-bottom: 60px;
        }
        .button{
          display: flex;
          align-items: center;
          padding: 10px 27px;
          background-color: $myPink;
          border: none;
          color: #fff;
          border-radius: 3px;
          letter-spacing: 1px;
          &:hover{
            .buttonIcon{
              .arrow{
                img{
                  transform: translate(-3px, -3px);
                }
              }
            }
          }
          .buttonIcon{
            width: 21px;
            height: 21px;
            border: 1px solid #FFC1DA;
            background-color: transparent;
            margin-left: 22px;
            .arrow{
              width: 23px;
              height: 7px;
              img{
                width: 100%;
                height: 100%;
                transform: translate(-10px , -3px);
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: linear;
              }
            }
          }
        }
      }
      .col-md-6:last-child{
        img{
          width: 510px;
          height: 455px;
         transform: translateX(-40px);
        }
      }
    }
  }
}
