.team{
  position: relative;
  padding-bottom: 220px;
  .bloobsImg{
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 160px;
    height: 376px;
  }
  .container{
    .row{
      .col-md-6:first-child{
        h5{
          font-size: 28px;
          font-weight: 700;
          color: #F78CB6;
          margin-bottom: 22px;
          letter-spacing: 1px;

        }
        h2{
          color: #56597A;
          font-size: 44px;
          font-weight: 800;
          margin-bottom: 42px;
          word-spacing: 8px;
          letter-spacing: 2px;
        }
        p{
          font-size: 17px;
          color: #919299;
          letter-spacing: 1px;
          word-spacing: 3px;
          line-height: 37px;
          margin-bottom: 40px;
        }
        .learnButton{
          display: flex;
          align-items: center;
          padding: 9px 24px;
          background-color:#F78CB6;
          border: none;
          color: #fff;
          border-radius: 3px;
          letter-spacing: 1px;
          &:hover{
            .buttonIcon{
              .arrow{
                img{
                  transform: translate(-3px, -3px);
                }
              }
            }
          }
          .buttonIcon{
            width: 21px;
            height: 21px;
            border: 1px solid #FFC1DA;
            background-color: transparent;
            margin-left: 22px;
            .arrow{
              width: 23px ;
              height: 7px ;
              img{
                width: 100%;
                height: 100%;
                transform: translate(-10px , -3px);
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: linear;
              }
            }
          }
        }
      }
      .col-md-6:last-child{
        img{
          width: 534px;
          height: 490px;
        }
      }
    }
  }
}