.testimonial{
  padding-bottom: 200px;
  .container{
    .row{
      .col-md-6:first-child{
        padding-left: 30px;
        box-sizing: border-box;
        img{
          width: 534px;
          height: 490px;
        }
      }
      .col-md-6:last-child{
        padding-left: 70px;
        h5{
          font-size: 28px;
          font-weight: 700;
          color: #F78CB6;
          margin-bottom: 22px;
          letter-spacing: 1px;

        }
        h2{
          color: #56597A;
          font-size: 44px;
          font-weight: 800;
          margin-bottom: 42px;
          word-spacing: 8px;
          letter-spacing: 2px;
        }
        p{
          font-size: 17px;
          color: #919299;
          letter-spacing: 1px;
          word-spacing: 3px;
          line-height: 37px;
          margin-bottom: 40px;
        }
        .name{
          color: #56597A;
          margin-bottom: 10px;
        }
        .testimonialFooter{
          display: flex;
          justify-content: space-between;
          .address{
            color: #919299;
            font-size: 15.3px;
          }
          .arrowIcons{
            display: flex;
            .arrowRightIcon{
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}