
.container{
    padding: 0 10px !important;
}
.App{
    font-family: myFont sans-serif;
    background-color: #fcf9f9;
}
.App p, .App a{
    font-family:myProxy sans-serif ;
}

@font-face {
    font-family: myFont ;
    src: local("/public/fonts/CircularStd-Medium.ttf") ;
}
@font-face {
    font-family: myProxy ;
    src: local("/public/fonts/Proxima Nova Font.otf") ;
}